.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  padding: 10px 20px;
  border-bottom: 1px solid #dee2e6;

}

.app-title {
  margin: 0;
  font-size: 40px;
  color:  #B8D326;
}


.submit-button {
  background-color: #D6A2E8;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
}

.submit-button:hover {
  background-color: #B8D326;
}

.alert-danger {
  border-radius: 20px;
}

.thead-dark {
  background-color: #343a40;
  color: #fff;
}

.thead-dark th {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.table-hover tbody tr:hover {
  background-color: #e9ecef;
}

.message {
  text-align: center;
  font-size: 1.2em;
  color: #6c757d;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navigation.css */

.navbar {
  display: flex;
  justify-content: center; /* Horizontally center the links */
  background-color: #D6A2E8  ; /* Example background color */
  padding: 10px;
}

.nav-links {
  display: flex; /* Display links inline */
}

.nav-links a {
  color: #fff; /* Set link color to white */
  text-decoration: none; /* Remove underline */
  margin: 0 10px; /* Add margin between links */
}

.upload-instructions {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.upload-instructions .p1 {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.upload-instructions .p2 {
  margin: 0;
  font-size: 14px;
  color: black;
}

.custom-textbox {
  background-color: white !important;
  border-color:  #D6A2E8 !important; /* Optional: To match the default border color */
  box-shadow: none !important; /* Remove the shadow */
  outline: none !important; /* Remove the default outline */
}


.custom-textbox:focus {
  background-color: white !important;
  border-color:  #D6A2E8 !important; /* Optional: To match the default border color */
  box-shadow: none !important; /* Remove the shadow */
  outline: none !important; /* Remove the default outline */
}

.metrics-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.metrics-list {
  list-style-type: none;
  padding: 0;
}

.metric-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #e9ecef;
  border-radius: 4px;
}

.metric-item:nth-child(odd) {
  background-color: #f1f3f5;
}

.metric-name {
  font-weight: bold;
  color: #495057;
}

.metric-value {
  color: #495057;
}

.metric-description {
  font-size: 0.875rem;
  color: #6c757d;
  margin-top: 5px;
}


